<div class="tabs-panel is-active" id="tab-all">
    <% user.library.forEach(function(game){
    if(!game.hidden) { %>
    <div id="all-<%= game.id %>" data-platform="other" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <p><%= game.name %></p>
        <button class="button success backlog-add">Add to backlog</button>
        <button class="button alert">Hide</button>
        <hr>
    </div>
    <% }}) %>
    <% user.steamLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="all-<%= game.id %>" data-platform="steam" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <p><%= game.name %></p>
        <button class="button success backlog-add">Add to backlog</button>
        <button class="button alert">Hide</button>
        <hr>
    </div>
    <% }}) %>
    <% user.xboxLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="all-<%= game.id %>" data-platform="xbox" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <p><%= game.name %></p>
        <button class="button success backlog-add">Add to backlog</button>
        <button class="button alert">Hide</button>
        <hr>
    </div>
    <% }}) %>

</div>
<div class="tabs-panel is-active" id="tab-steam">
    <% user.steamLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="steam-<%= game.id %>" data-platform="steam" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <p><%= game.name %></p>
        <button class="button success backlog-add">Add to backlog</button>
        <button class="button alert">Hide</button>
        <hr>
    </div>
    <% }}) %>
</div>
<div class="tabs-panel" id="tab-xbox">
    <% user.xboxLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="xbox-<%= game.id %>" data-platform="xbox" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <p><%= game.name %></p>
        <button class="button success backlog-add">Add to backlog</button>
        <button class="button alert">Hide</button>
        <hr>
    </div>
    <% }}) %>
</div>
<div class="tabs-panel" id="tab-other">
    <% user.library.forEach(function (game) {
    if(!game.hidden) { %>
    <div id="other-<%= game.id %>" data-platform="other" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <p><%= game.name %></p>
        <button class="button success backlog-add">Add to backlog</button>
        <button class="button alert">Hide</button>
        <hr>
    </div>
    <% }}) %>
</div>
