<div class="tabs-panel is-active" id="tab-all">
    <% user.library.forEach(function(game){
    if(!game.hidden) { %>
    <div id="all-<%= game.id %>" data-platform="other" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>
    </div>
    <% }}) %>
    <% user.steamLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="all-<%= game.id %>" data-platform="steam" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>

    </div>
    <% }}) %>
    <% user.xboxLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="all-<%= game.id %>" data-platform="xbox" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>
    </div>
    <% }}) %>

</div>
<div class="tabs-panel is-active" id="tab-steam">
    <% user.steamLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="steam-<%= game.id %>" data-platform="steam" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>
    </div>
    <% }}) %>
</div>
<div class="tabs-panel" id="tab-xbox">
    <% user.xboxLibrary.forEach(function(game){
    if(!game.hidden) { %>
    <div id="xbox-<%= game.id %>" data-platform="xbox" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>
    </div>
    <% }}) %>
</div>
<div class="tabs-panel" id="tab-other">
    <% user.library.forEach(function (game) {
    if(!game.hidden) { %>
    <div id="other-<%= game.id %>" data-platform="other" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>

    </div>
    <% }}) %>
</div>
<div class="tabs-panel" id="tab-hidden">
    <% hiddenGames.library.forEach(function (game) {
    if(game.hidden) { %>
    <div id="hidden-<%= game.id %>" data-platform="other" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>

    </div>
    <% }}) %>
    <% hiddenGames.xboxLibrary.forEach(function (game) {
    if(game.hidden) { %>
    <div id="hidden-<%= game.id %>" data-platform="xbox" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>

    </div>
    <% }}) %>
    <% hiddenGames.steamLibrary.forEach(function (game) {
    if(game.hidden) { %>
    <div id="hidden-<%= game.id %>" data-platform="steam" data-game="<%= JSON.stringify(game) %>"
         class="game-container">
        <% include ../partials/tab-game.ejs %>

    </div>
    <% }}) %>
</div>
