<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lag Log | Backlog</title>
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/foundation.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>
<main>
    <div id="content">
        <h1>Backlog</h1>
        <input id="user-id" type="hidden" value="<%= user.id %>">
        <div id="backlog-list">
            <% user.backlog.forEach((game, i) => {
            if(i === 0) { %>
            <b>Currently Playing:</b>
            <div id="<%= game.id %>" class="first game">
                <h3><%= game.name %></h3>
                <button id="move-back" class="button secondary">Move back to backlog</button>
                <button id="finished" class="button secondary">Finished</button>

            </div>
            <hr>
            <b>Next Up:</b>
            <% } else { %>
            <div id="<%= game.id %>" class="movable game">
                <p><%= game.name %></p>
                <button class="button secondary play-now">I'm playing this now</button>
                <button class="button secondary">Remove</button>
                <hr>
            </div>
            <% }}) %>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/sortablejs/Sortable.js"></script>
<script src="/public/js/vendor/foundation.js"></script>
<script src="/public/js/vendor/what-input.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/backlog.js"></script>
<script>$(document).foundation();</script>
</body>
</html>
