<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lag Log | <%= game.name %></title>
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/foundation.min.css">
    <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>
<header>
    <% include ../partials/header.ejs %>
</header>
<main>
    <div id="content">
        <div class="top-part" style="
                background: url('<%= screenshots[0] %>') no-repeat scroll center 0 transparent;
                background-color: #e6e6e6;
                background-size: cover;
                min-height: 25em;">
            <div class="top-part-container">
                <div class="top-part-content">
                    <img src="<%= cover %>">
                    <h1 class="game-title"><%= game.name %> (<%= release %>)</h1>
                </div>
            </div>
        </div>
        <p></p>
        <p><%= game.summary %></p>
        <% if (user) { %>
        <a id="add-to-backlog" class="button">Add to backlog</a>
        <a id="add-to-library" class="button">Add to library</a>
        <% } %>

    </div>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>
<% if (user) { %>
<input id="user-id" type="hidden" value="<%= user.id %>">
<% } %>
<input id="game-id" type="hidden" value="<%= game.id %>">
<input id="game-name" type="hidden" value="<%= game.name %>">
<input id="review-score" type="hidden" value="<%= game.total_rating ? game.total_rating : 0 %>">
<input id="play-time" type="hidden" value="<%= game.time_to_beat ? game.time_to_beat.normally : 0 %>">
<% include ../partials/modals.ejs %>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/sortablejs/Sortable.js"></script>
<script src="/vendor/moment/moment.js"></script>
<script src="/public/js/vendor/foundation.js"></script>
<script src="/public/js/vendor/what-input.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/game.js"></script>
<script>$(document).foundation();</script>
</body>
</html>
